@charset "utf-8";
  
$hassakulab-primary: #ffc235;
$hassakulab-primary-dark: #ffa235;

$hassakulab-secondary: #b0d80c;
$hassakulab-secondary-dark: #719108;

$hassakulab-accent: #0c80d8;
$hassakulab-accent-variant: #0cc4d8;

$hassakulab-tender-white: #f6f7f2;
$hassakulab-tender-black: #3a3b38;

$hassakulab-tender-gray: #60615e;
